body {
  background-color: black;
  background-color: #000000;
  background-color: #000000;
  background-image: url(../images/symbol-scatter-haikei-5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23876403' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"); */
  /* background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23fec300' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E"); */
}

.link-back {
  text-decoration: none;
  color: #000;
  margin: 10px;
  display: inline;
  padding: 5px;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 15px;
  text-align: center;
  background: #e0aa3e;
  background: radial-gradient(
    circle farthest-corner at center center,
    #e0aa3e 18%,
    #876403 90%
  );
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 3px rgba(33, 33, 33, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.date-time {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-align: center;
  background: #e0aa3e;
  background: radial-gradient(
    circle farthest-corner at center center,
    #e0aa3e 18%,
    #876403 90%
  );
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 3px rgba(33, 33, 33, 1);
}

.btn-start {
  cursor: pointer;
  font-family: 'Lobster', cursive;
  background: #e0aa3e;
  background: radial-gradient(
    circle farthest-corner at center center,
    #e0aa3e 18%,
    #876403 90%
  );
  display: flex;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 3px rgba(33, 33, 33, 1);
}

.timer {
  display: flex;
  width: 600px;
  justify-content: space-between;
  background: #e0aa3e;
  background: radial-gradient(
    circle farthest-corner at center center,
    #e0aa3e 18%,
    #876403 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #e0aa3e; */

  font-family: 'Lobster', cursive;
  font-size: 25px;
}
.value {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  /* color: #e0aa3e; */
  /* background: #e0aa3e;
    background: radial-gradient(
      circle farthest-corner at center center,
      #e0aa3e 18%,
      #664c04 90%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
